---
---

<!DOCTYPE html>
<html>
	<head>
		{% feed_meta %}
		<link rel="stylesheet" href="/css/site.css">
		<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.name }} - {{ site.description }} - Inicio</title>
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>
		<main>
			{% for post in paginator.posts %}
			<article>
				<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
				<div class="post-fecha"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date: "%d / %m / %Y" }}
				 | Autor : {{ post.author }}</div>
				{{ post.content | split:'-moarmoar-' | first }}
				{% if post.content contains '-moarmoar-' %}
				...<br><a href="{{ post.url }}">[ Seguir leyendo ]</a>
				{% endif %}					
			</article>
			{% endfor %}
			{% if paginator.total_pages > 1 %}
			<div class="pagination">
			  {% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			  {% else %}
				<i class="fa fa-chevron-left" aria-hidden="true"></i>
			  {% endif %}

			  {% for page in (1..paginator.total_pages) %}
				{% if page == paginator.page %}
				  <span class="pag_num pag_cur">{{ page }}</span>
				{% elsif page == 1 %}
				  <a class="pag_num" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
				{% else %}
				  <a class="pag_num" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
				{% endif %}
			  {% endfor %}

			  {% if paginator.next_page %}
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
			  {% else %}
				<i class="fa fa-chevron-right" aria-hidden="true"></i>
			  {% endif %}
			</div>
			{% endif %}			
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
