---
---

<!DOCTYPE html>
<html>
	<head>
		{% feed_meta %}
		<link rel="stylesheet" href="/css/site.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.name }} - {{ site.description }} - Inicio</title>
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>
		<main>
			{% for post in paginator.posts %}
			<article>
				<div class="date">
					<span class="day">12</span>
					<span class="month">jun</span>
					<span class="year">2018</span>
				</div>				
				<div class="post-title">
					<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
					<b>Autor: </b>Konrvd Mirror
				</div>
				{{ post.content | split:'-moarmoar-' | first }}
				{% if post.content contains '-moarmoar-' %}
				...<br><a href="{{ post.url }}">[ Seguir leyendo ]</a>
				{% endif %}					
			</article>
			{% endfor %}
			<article>
			uno
			</article>
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
