---
---

<!DOCTYPE html>
<html>
	<head>
		{% feed_meta %}
		<link rel="stylesheet" href="/css/site.css">
		<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.name }} - {{ site.description }} - Inicio</title>
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>
		<main>
			{% for post in paginator.posts %}
			<article>
				<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
				<div>{{ post.date | date: "%d / %m / %Y" }} | Autor : {{ post.author }}</div>
				{{ post.content | split:'-moarmoar-' | first }}
				{% if post.content contains '-moarmoar-' %}
				...<br><a href="{{ post.url }}">[ Seguir leyendo ]</a>
				{% endif %}					
			</article>
			{% endfor %}
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
