---
---

<!DOCTYPE html>
<html>
	<head>
		{% feed_meta %}
		<link rel="stylesheet" href="/css/site.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.name }} - {{ site.description }} - Inicio</title>
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>
		<main>
			<article>
			<article>
				<div class="date">
					<span class="day">{{ post.date | date: "%d" }}</span>
					<span class="month">{{ post.date | date: "%b" }}</span>
					<span class="year">{{ post.date | date: "%Y" }}</span>
				</div>				
				<div class="post-title">
					<h2><a href="{{ site.base_url }}{{ post.url }}">{{ post.title }}</a></h2>
					<b>Autor: </b>Konrvd Mirror
				</div>
				{% if content contains '-moarmoar-' %}
					{{ content | replace: '-moarmoar-', '' }}
				{% else %}
					{{ content }}
				{% endif %}						
			</article>
			</article>
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
