---
---

<!DOCTYPE html>
<html>
	<head>
		{% feed_meta %}
		<link rel="stylesheet" href="/css/site.css">
		<link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ site.name }} - {{ site.description }} - Inicio</title>
	</head>
	<body>
		<header>
			{% include header.html %}
		</header>
		<main>
			<article>
				<h2>{{ page.title }}</h2>
				<div class="post-fecha"><i class="fa fa-calendar" aria-hidden="true"></i> {{ page.date | date: "%d / %m / %Y" }}
				 | Autor : {{ page.author }}</div>
				{% if content contains '-moarmoar-' %}
					{{ content | replace: '-moarmoar-', '' }}
				{% else %}
					{{ content }}
				{% endif %}						
			</article>
			<a href="../"><i class="fa fa-chevron-right" aria-hidden="true"></i> Volver</a>
		</main>
		<footer>
			{% include footer.html %}
		</footer>
	</body>
</html>
